.bannerImage {
    max-width: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

