.contact-section {
    width: 100%;
    position: relative;
    padding: 1.25rem 0;

    display: flex;
}

.contact-card {
    margin: 0 2rem;
    position: relative;

    flex: 1;

    background-color: white;
}

.contact-card .contact-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.contact-card .contact-card-content .contact-icon {
    width: 44px;
    height: 44px;
}

.contact-title {
    color: #343a40;

    transition-duration: 0.5s;
}

.contact-card-content .contact-title {
    display: none;
}
.contact-card-content:hover .contact-title {
    display: block;
}