.contact-section {
    width: 100%;
    position: relative;
    padding: 1.25rem 0;

    display: flex;
}

.contact-card {
    margin: 0 2rem;

    height: 10rem;

    flex: 1;

    background-color: white;
}

.contact-card .contact-card-content {
    width: 100%;
    height: 100%;

    display: flex;
}

.contact-card .contact-card-content:hover {
    cursor: pointer;
}

.contact-card .contact-card-content .contact-icon {
    margin: auto;

    width: 10%;
    height: 10%;

    min-width: 44px;
    min-height: 44px;
}

.contact-title {
    display: none;
    color: #343a40;
}

@media (max-width: 768px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}