.contact-section {
    width: 100%;
    padding: 1.25rem 0;

    display: flex;
    justify-content: space-evenly;
}

.contact-card {
    margin: 0 2rem;

    height: 10rem;

    flex: 1;

    background-color: white;
}

.contact-card .contact-card-content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-card .contact-card-content:hover {
    cursor: pointer;
}

.contact-card .contact-card-content .contact-icon {
    margin: auto;

    width: 3rem;
    height: 3rem;

    min-width: 44px;
    min-height: 44px;
}

.icon-clicked {
    transition-duration: 0.5s;
    transform: scale(2);

    opacity: 0;
}

.contact-title {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: #343a40;
    font-size: 1.5rem;
}

@media (max-width: 1440px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-card .contact-card-content {
        height: 10rem;
    }
}

@media (max-width: 525px) {
    .contact-title {
        font-size: 1rem;
    }
}