.timeline-container {
  width: 100%;
  position: relative;
  padding: 1.25rem 0;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
  padding: 0 2px;
}

.timeline-item.left {
  flex-direction: row-reverse; /* Content on the left */
}

.timeline-item.right {
  flex-direction: row; /* Content on the right */
}

.timeline-dot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  margin: 0 1.25rem; /* Adjust spacing */
}

.timeline-content {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Determines how much space a flex item takes up when there is extra room in the container */
}

.timeline-date {
  font-size: 0.9em;
  color: #6c757d;
  margin-bottom: 5px;
}

.timeline-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #343a40;
}

.timeline-description {
  font-size: 0.95em;
  color: #495057;
}

@media (max-width: 600px) {
  img.timeline-image.square-container {
    display: none;
  }
}