#root > *:not(.bannerImage) {
  width: 100%;
  padding: 0 2vw;
}

#headerContent {
  text-align: center;
}

.elevatorParagraph{
  padding: 0 1vw;
}

.square-container {
  width: 16rem;
  height: 16rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 1rem;
}

.square-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-container {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 1rem;
}

.circle-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftSideImage {
  float: left;
  width: 25rem;
}

.aboutContent {
  float: right;
}

@media (max-width: 600px) {
  img {
    display: none;
  }
}